<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>神田英会話スクール</title>
<link rel="stylesheet" href="guide.css">
</head>
<body style="">
		<header class="header">
				<h1 style="color: #F99F48; padding-left: 20px;">神田英会話スクール</h1>
				<hr style="margin: 0;">
		</header>
		<div class="content" style="width: 90%; margin: 0 auto; padding-top: 10px; line-height: 40px;">
				<h2>お問い合わせ一覧</h2>
				<table style="border-collapse: collapse; width: 100%;">
						<tr style="text-align: left;">
								<th width="50" style="border-bottom: 1px solid #d3d3d3;"></th>
								<th width="30" style="border-bottom: 1px solid #d3d3d3;">No.</th>
								<th width="100" style="border-bottom: 1px solid #d3d3d3;">名前</th>
								<th width="80" style="border-bottom: 1px solid #d3d3d3;">種類</th>
								<th width="120" style="border-bottom: 1px solid #d3d3d3;">お問い合わせ日時</th>
								<th width="400" style="border-bottom: 1px solid #d3d3d3;">お問い合わせ内容</th>
						</tr>
						<tr>
								<td style="border-bottom: 1px solid #d3d3d3; text-align:center; font-weight: bold;">
										<label style="color: red; font: bold;">未返信</label>
								</td>
								<td style="border-bottom: 1px solid #d3d3d3;">111</td>
								<td style="border-bottom: 1px solid #d3d3d3;">藤田すみれ</td>
								<td style="border-bottom: 1px solid #d3d3d3;">VBA</td>
								<td style="border-bottom: 1px solid #d3d3d3;">2023/11/11(月) 11:11</td>
								<td style="border-bottom: 1px solid #d3d3d3;">全くの初心者でも受講可能ですか？</td>
						</tr>
						<tr>
								<td style="border-bottom: 1px solid #d3d3d3; text-align:center; font-weight: bold;">
										<label style="color: blue; font: bold;">返信済</label>
								</td>
								<td style="border-bottom: 1px solid #d3d3d3;">111</td>
								<td style="border-bottom: 1px solid #d3d3d3;">藤田すみれ</td>
								<td style="border-bottom: 1px solid #d3d3d3;">VBA</td>
								<td style="border-bottom: 1px solid #d3d3d3;">2023/11/11(月) 11:11</td>
								<td style="border-bottom: 1px solid #d3d3d3;">全くの初心者でも受講可能ですか？</td>
						</tr>
				</table>
		</div>

</body>
</html>