<!DOCTYPE html>
<html>
<head>
		<title>問い合わせシステム</title>
		<link rel="stylesheet" href="../../css/common.css">
		<link rel="stylesheet" href="../../css/admin.css">
	</head>
<body>
		<div class="header">
				<p class="logo">神田英会話スクール</p>
				<div>
						<span><a class="link" href="list.html">一覧</a></span> <span><a class="link" href="login.html">ログアウト</a></span>
				</div>
		</div>

		<div class="list main">
			<h2 class="admin_title">お問い合わせ一覧</h2>
			<table class="list_display_table" border=0 align="center" >
				<tr  style="text-align: left;">
				<th class="border"><span></span></th>
				<th class="border">
						<span>返信状態</span>
					</th>
					<th class="border"><span>名前</span></th>
					<th class="border"><span>項目</span></th>
					<th class="border"><span>お問い合わせ日時</span></th>
					<th class="border"><span>お問い合わせ内容</span></th>
				</tr>
				<tr>
					<td class="border"><span><a href="detail.html">詳細</a></span></td>
					<td class="border" style="text-align: center;"><span class="status_done_reply list_status">対応済み</span></td>
					<td class="border"><span>田中太郎</span></td>
					<td class="border"><span class="list_kind kind_1">①料金・お支払いについて</span></td>
					<td class="border"><span>2023/05/10 10:23</span></td>
					<td class="border break-word"><span>全くの初心者でも受講可能ですか？</span></td>
				</tr>
				<tr>
					<td class="border"><span><a href="detail.html">詳細</a></span></td>
					<td class="border" style="text-align: center;"><span class="status_not_reply list_status">未対応</span></td>
					<td class="border"><span>穂波たまえ</span></td>
					<td class="border"><span class="list_kind kind_2">② 講座、コース、教材について</span></td>
					<td class="border"><span>2023/05/08 19:11</span></td>
					<td class="border break-word"><span>教材費は別途支払う必要がありますか？また...</span></td>
				</tr>
				<tr>
					<td class="border"><span><a href="detail.html">詳細</a></span></td>
					<td class="border" style="text-align: center;"><span class="status_not_reply list_status">未対応</span></td>
					<td class="border"><span>花輪和彦</span></td>
					<td class="border"><span class="list_kind kind_3">③ 学習の進め方について</span></td>
					<td class="border"><span>2023/05/03 10:56</span></td>
					<td class="border break-word"><span>1日の学習の進め方を教えてください。</span></td>
				</tr>
				<tr>
					<td class="border"><span><a href="detail.html">詳細</a></span></td>
					<td class="border" style="text-align: center;"><span class="status_done_reply list_status">対応済み</span></td>
					<td class="border"><span>浜崎のりたか</span></td>
					<td class="border"><span class="list_kind kind_4">④ 受講期限について</span></td>
					<td class="border"><span>2023/04/27 09:33</span></td>
					<td class="border break-word"><span>受講期間はどのくらいかかりますか？</span></td>
				</tr>
				<tr>
					<td class="border"><span><a href="detail.html">詳細</a></span></td>
					<td class="border" style="text-align: center;"><span class="status_done_reply list_status">対応済み</span></td>
					<td class="border"><span>野口笑子</span></td>
					<td class="border"><span class="list_kind kind_5">⑤ 受講終了後のサポートについて</span></td>
					<td class="border"><span>2023/04/16 16:02</span></td>
					<td class="border break-word"><span>受講証明書など、受講したことを証明できる...</span></td>
				</tr>
			</table>
			<br>
		</div>

		<div class="footer">
				<p>copyright (c) 2023 Kanda English School all rights reserved.</p>
		</div>
</body>
</html>